/* ---------------- NAVBAR ---------------- */
.header {
  display: flex;
  max-width: var(--cMaxWidth);
  width: var(--cWidth);
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 9999;
}

/* ---------------- LOGO ---------------- */
.navbar-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}

.navbar-title img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease;
}

.navbar-title:hover img {
  transform: scale(1.1);
}

.navbar-title span {
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* ---------------- MENU ---------------- */
.header ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header ul li {
  font-size: 14px;
  color: #eae5ec;
  font-weight: 600;
  cursor: pointer;
}

/* ---------------- EMAIL ---------------- */
.navbar-connect {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 900px) {
  .navbar-connect {
    display: none;
  }

  .header ul {
    gap: 20px;
  }

  .navbar-title span {
    display: none; /* only icon on mobile */
  }
}