.work-section {
  min-height: 100vh;
  overflow: hidden;
}

.work-section h2 {
  margin-top: 80px;
  font-size: 60px;
  font-weight: 500;
}

.work-section h2 span {
  color: var(--accentColor);
}

.work-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* 🔥 MAIN FIX */
.work-flex {
  display: flex;
  gap: 40px;
  height: 100%;
}

/* 🔥 IMPORTANT */
.work-box {
  width: 600px;
  flex-shrink: 0;
  padding: 60px;
  border-right: 1px solid #363636;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.work-box:nth-child(even) {
  flex-direction: column-reverse;
}

/* TEXT */
.work-title {
  display: flex;
  justify-content: space-between;
}

.work-title h3 {
  font-size: 40px;
  margin: 0;
}

.work-title > div {
  text-align: right;
}

.work-info h4 {
  font-size: 16px;
  margin: 0;
}

.work-info p {
  font-size: 14px;
  color: #aaa;
  margin: 0;
}

/* IMAGE */
.work-image {
  display: flex;
  justify-content: center;
}

.work-image img {
  max-width: 100%;
  max-height: 300px;
}